/* PageFly Element Styles */
						.hUtuZY { height: 450px; position: relative; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jrwOpx { font-family: FontAwesome !important; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.HrWqm > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.HrWqm[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.HrWqm.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.HrWqm.dropcap--circle > span:first-child { border-radius: 100%; }
.HrWqm:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.HrWqm ol, .HrWqm ul { list-style-position: inside; }
.HrWqm blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.csiTZj { padding: 8px; }
.csiTZj label { position: relative; display: flex; align-items: center; font-size: 16px; width: fit-content; }
.csiTZj label:not(:last-child) { margin-bottom: 4px; }
.csiTZj sup { position: relative; top: -8px; color: red; }
.csiTZj input, .csiTZj textarea, .csiTZj select { border: 1px solid rgb(209, 213, 219); font-size: 16px; background: rgb(255, 255, 255); border-radius: 4px; width: 100%; outline: 0px; }
.csiTZj input::placeholder, .csiTZj textarea::placeholder, .csiTZj select::placeholder { color: rgb(209, 213, 219); }
.csiTZj input { padding: 10px 8px; }
.csiTZj input[type="checkbox"], .csiTZj input[type="radio"] { width: auto; padding: 0px; margin-right: 8px; }
.csiTZj textarea { padding-left: 8px; resize: none; }
.csiTZj select { padding: 10px 8px; height: 40px; }
.csiTZj button { padding: 10px 20px; background: rgb(93, 107, 130); border-radius: 4px; color: rgb(255, 255, 255); font-size: 16px; border: 0px; }
.kEvrqM { border-radius: 4px; margin-top: 16px; padding: 16px; text-align: center; font-size: 14px; color: rgb(23, 43, 77); background: rgb(253, 231, 235); border: 1px solid rgb(235, 14, 55); }
.hYCNmc { border-radius: 4px; margin-top: 16px; padding: 16px; text-align: center; font-size: 14px; color: rgb(23, 43, 77); background: rgb(230, 243, 237); border: 1px solid rgb(7, 136, 74); }
.jBiRe { -webkit-appearance: none; outline: none; font-family: inherit; }
.jBiRe > i { margin-right: 0.3em; }
.iRZdgm { display: flex; position: relative; width: 100%; flex-direction: column; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-9f8e32c4 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-f2aeefa3 {
		font-size: 40px;
		 margin-top: 0px;
		 font-weight: 700;
		 color: rgb(24, 51, 100);
		 margin-bottom: 20px;
		 letter-spacing: 0.8px;
	}
	.__pf .pf-35ba9aaf {
		line-height: 1.5;
		 color: rgb(78, 78, 78);
		 margin-top: 0px;
		 font-weight: 400;
		 margin-bottom: 50px;
		 font-size: 14px;
		 font-family: Sintony;
	}
	.__pf .pf-9aaf9f2f {
		color: rgb(206, 206, 206);
		 font-size: 40px;
		 margin-right: 15px;
	}
	.__pf .pf-f8696e11 {
		margin-top: 0px;
		 font-size: 24px;
		 margin-bottom: 5px;
		 color: rgb(24, 51, 100);
		 font-weight: 700;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-698b710b {
		font-family: Sintony;
		 margin-top: 0px;
		 font-size: 14px;
		 line-height: 1.5;
		 color: rgb(106, 106, 106);
		 margin-bottom: 0px;
		 font-weight: 400;
	}
	.__pf .pf-1e0fc771 {
		display: flex;
	}
	.__pf .pf-c771bf5f {
		color: rgb(206, 206, 206);
		 font-size: 40px;
		 margin-right: 15px;
	}
	.__pf .pf-892dafec {
		margin-top: 0px;
		 font-size: 24px;
		 margin-bottom: 5px;
		 color: rgb(24, 51, 100);
		 font-weight: 700;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-0fc0b59e {
		font-family: Sintony;
		 margin-top: 0px;
		 font-size: 14px;
		 line-height: 1.5;
		 color: rgb(106, 106, 106);
		 margin-bottom: 0px;
		 font-weight: 400;
	}
	.__pf .pf-42ec2bfa {
		display: flex;
	}
	.__pf .pf-9bd71d08 {
		color: rgb(206, 206, 206);
		 font-size: 40px;
		 margin-right: 15px;
	}
	.__pf .pf-bb36f5af {
		margin-top: 0px;
		 font-size: 24px;
		 margin-bottom: 5px;
		 color: rgb(24, 51, 100);
		 font-weight: 700;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-4c4a656c {
		font-family: Sintony;
		 margin-top: 0px;
		 font-size: 14px;
		 line-height: 1.5;
		 color: rgb(106, 106, 106);
		 margin-bottom: 0px;
		 font-weight: 400;
	}
	.__pf .pf-2cdda93a {
		display: flex;
	}
	.__pf .pf-a93a2dec {
		color: rgb(206, 206, 206);
		 font-size: 40px;
		 margin-right: 15px;
	}
	.__pf .pf-0690e6b0 {
		margin-top: 0px;
		 font-size: 24px;
		 margin-bottom: 5px;
		 color: rgb(24, 51, 100);
		 font-weight: 700;
		 letter-spacing: 0.5px;
	}
	.__pf .pf-db9dbe67 {
		font-family: Sintony;
		 margin-top: 0px;
		 font-size: 14px;
		 line-height: 1.5;
		 color: rgb(106, 106, 106);
		 margin-bottom: 0px;
		 font-weight: 400;
	}
	.__pf .pf-d0d2184f {
		display: flex;
		 color: rgb(24, 51, 100);
	}
	.__pf .pf-5811194a {
		background-color: rgb(255, 255, 255);
		 padding: 30px 30px 80px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-eb270585 {
		font-size: 26px;
		 font-weight: 700;
		 letter-spacing: 0.5px;
		 color: rgb(24, 51, 100);
		 margin-top: 0px;
		 margin-bottom: 30px;
	}
	.__pf .pf-05858f89 > input {
		font-family: Sintony;
		 font-size: 13px;
		 letter-spacing: 0.26px;
		 line-height: 12px;
		 padding: 15px 1px 15px 21px;
		 border-radius: 0px;
	}
	.__pf .pf-8f89b429 {
		margin-top: 20px;
	}
	.__pf .pf-8f89b429 > input {
		padding: 15px 1px 15px 21px;
		 font-family: Sintony;
		 font-size: 13px;
		 letter-spacing: 0.26px;
		 line-height: 12px;
		 border-radius: 0px;
	}
	.__pf .pf-b4296cc2 {
		margin-top: 20px;
		 font-family: "Archivo Narrow";
		 font-size: 13px;
	}
	.__pf .pf-b4296cc2 > input {
		font-size: 13px;
		 font-family: Sintony;
		 line-height: 12px;
		 letter-spacing: 0.26px;
		 padding: 15px 1px 15px 21px;
		 border-radius: 0px;
	}
	.__pf .pf-6cc29e46 {
		margin-top: 20px;
	}
	.__pf .pf-6cc29e46 > textarea {
		padding: 15px 1px 15px 21px;
		 font-family: Sintony;
		 font-size: 13px;
		 letter-spacing: 0.26px;
		 line-height: 12px;
		 border-radius: 0px;
	}
	.__pf .pf-5a47c00b {
		margin-top: 20px;
		 font-family: "Archivo Narrow";
		 font-size: 13px;
		 letter-spacing: 1.95px;
		 line-height: 12px;
		 font-weight: 700;
		 border-radius: 0px;
		 background-color: rgb(24, 51, 100);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-5a47c00b:hover {
		text-align: left;
		 font-weight: 700;
		 color: rgb(0, 0, 0);
		 background-color: rgb(255, 255, 255);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-b3fc5e65 {
		background-color: rgb(249, 249, 249);
		 padding: 30px 30px 50px;
		 border-style: solid;
		 border-color: rgb(235, 235, 235);
		 border-width: 1px 1px 1px 0px;
	}
	.__pf .pf-573b3203 {
		margin-bottom: 80px;
		 padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: -65px;
		 border-style: none;
		 font-family: "Abril Fatface";
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-573b3203 {
		margin-bottom: 20px;
	}
}
						