/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.iVVzrr { position: relative; list-style: inherit; margin: 0 0 var(--line-spacing); }
.iVVzrr:last-child { margin: 0px; }
.iVVzrr::before { content: ""; display: inline-block; width: var(--text-indent); }
.iVVzrr > i { padding: 5px; margin-right: 5px; }
.iVVzrr > span { display: inline; }
.bMMcvF { margin: 0px; padding: 10px; }
.cxBaVr { margin: 0px; }
.cxBaVr > div { display: flex; position: relative; }
.cxBaVr.mailchimp--vertical div { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }
.cxBaVr input[name="name"] ~ input[name="email"] { margin-left: 10px; }
.cxBaVr.mailchimp--vertical input:first-of-type + input { margin: 10px 0px 0px; }
.cxBaVr.mailchimp--vertical button { width: 100%; margin-top: 10px; }
.cxBaVr input, .cxBaVr button { height: 40px; padding: 0px 20px; line-height: 40px; border-radius: 0px; box-sizing: border-box; box-shadow: none !important; outline: none !important; }
.cxBaVr.cxBaVr button { border: none; background-color: rgb(45, 45, 45); color: rgb(255, 255, 255); font-size: 13px; flex: 0 0 auto; margin-left: -1px; width: auto; }
.cxBaVr button > i + span { margin-left: 10px; }
.cxBaVr input { width: 100%; }
.eubWuu .video-wrapper, .eubWuu .mediaWrapper { padding: 0px; position: initial !important; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.csiTZj { padding: 8px; }
.csiTZj label { position: relative; display: flex; align-items: center; font-size: 16px; width: fit-content; }
.csiTZj label:not(:last-child) { margin-bottom: 4px; }
.csiTZj sup { position: relative; top: -8px; color: red; }
.csiTZj input, .csiTZj textarea, .csiTZj select { border: 1px solid rgb(209, 213, 219); font-size: 16px; background: rgb(255, 255, 255); border-radius: 4px; width: 100%; outline: 0px; }
.csiTZj input::placeholder, .csiTZj textarea::placeholder, .csiTZj select::placeholder { color: rgb(209, 213, 219); }
.csiTZj input { padding: 10px 8px; }
.csiTZj input[type="checkbox"], .csiTZj input[type="radio"] { width: auto; padding: 0px; margin-right: 8px; }
.csiTZj textarea { padding-left: 8px; resize: none; }
.csiTZj select { padding: 10px 8px; height: 40px; }
.csiTZj button { padding: 10px 20px; background: rgb(93, 107, 130); border-radius: 4px; color: rgb(255, 255, 255); font-size: 16px; border: 0px; }
.kEvrqM { border-radius: 4px; margin-top: 16px; padding: 16px; text-align: center; font-size: 14px; color: rgb(23, 43, 77); background: rgb(253, 231, 235); border: 1px solid rgb(235, 14, 55); }
.hYCNmc { border-radius: 4px; margin-top: 16px; padding: 16px; text-align: center; font-size: 14px; color: rgb(23, 43, 77); background: rgb(230, 243, 237); border: 1px solid rgb(7, 136, 74); }
.jBiRe { appearance: none; outline: none; font-family: inherit; }
.jBiRe > i { margin-right: 0.3em; }
.iRZdgm { display: flex; position: relative; width: 100%; flex-direction: column; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-63386140 {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-ffc41b01 {
		font-size: 25px;
		 font-weight: 700;
		 margin-top: 0px;
		 color: rgb(51, 51, 51);
		 margin-bottom: 0px;
		 text-transform: capitalize;
	}
	.__pf .pf-acddae77 {
		font-family: "Open Sans";
		 font-size: 22px;
		 font-weight: 700;
		 margin-top: 0px;
		 color: rgb(51, 51, 51);
		 margin-bottom: 0px;
	}
	.__pf .pf-1d48affe {
		font-size: 21px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 line-height: 1.04em;
		 color: rgb(45, 45, 45);
	}
	.__pf .pf-98b50d21 {
		font-size: 21px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(45, 45, 45);
	}
	.__pf .pf-2a1d3245 {
		font-size: 21px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(45, 45, 45);
	}
	.__pf .pf-8814f4b3 {
		font-size: 21px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(45, 45, 45);
	}
	.__pf .pf-677bfa1a {
		font-family: "Open Sans";
		 font-size: 22px;
		 font-weight: 700;
		 margin-top: 0px;
		 color: rgb(51, 51, 51);
		 margin-bottom: 0px;
		 line-height: 3em;
	}
	.__pf .pf-61ad8145 {
		font-size: 25px;
		 font-weight: 700;
		 margin-top: 0px;
		 color: rgb(51, 51, 51);
		 margin-bottom: 0px;
		 text-transform: capitalize;
	}
	.__pf .pf-14db7f11 {
		font-size: 37px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 30px;
		 color: rgb(51, 51, 51);
		 text-transform: capitalize;
	}
	.__pf .pf-16641a5e {
		padding-right: 70px;
		 padding-left: 70px;
	}
	.__pf .pf-1a5ec243 {
		padding-right: 560px;
	}
	.__pf .pf-c24396ea {
		background-size: cover;
		 background-position: 50% 50%;
		 padding-bottom: 150px;
		 padding-top: 150px;
		 background-color: rgb(248, 248, 248);
		 background-image: url("https://cdn.shopify.com/s/files/1/0283/9815/7955/t/6/assets/pf-9d298c18--landing-1.png?v=1594291511");
	}
	.__pf .pf-8838015e {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 margin-top: 20px;
		 font-size: 30px;
	}
	.__pf .pf-f1838e18 {
		padding-bottom: 0px;
		 padding-top: 0px;
		 text-align: center;
	}
	.__pf .pf-8e18ba6b {
		background-size: cover;
		 background-position: 50% 50%;
		 background-image: url("https://cdn.shopify.com/s/files/1/0283/9815/7955/t/6/assets/pf-4dabadea--592.jpg?v=1592970564");
		 margin-top: 30px;
		 margin-bottom: 10px;
	}
	.__pf .pf-6edd7e4c {
		font-size: 20px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(102, 102, 102);
	}
	.__pf .pf-f1af22a6 {
		padding-top: 7px;
	}
	.__pf .pf-53056cc2 {
		margin-bottom: 50px;
		 font-size: 16px;
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-6cc2f6e8 {
		font-size: inherit;
	}
	.__pf .pf-e876888c {
		background-color: rgba(155, 155, 155, 0.41);
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-888c6be7 {
		font-size: inherit;
	}
	.__pf .pf-e7de2253 {
		color: rgb(255, 255, 255);
		 background-color: rgb(61, 106, 214);
	}
	.__pf .pf-22532748 {
		font-size: inherit;
		 color: rgb(29, 161, 242);
	}
	.__pf .pf-481df1af {
		color: rgb(0, 0, 0);
		 background-color: rgb(224, 223, 223);
	}
	.__pf .pf-22a64b7a {
		background-color: rgb(255, 255, 255);
		 padding: 70px;
	}
	.__pf .pf-4b7abd67 {
		margin-bottom: 100px;
	}
	.__pf .pf-bd67464c {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-f509f36e {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 margin-top: 20px;
		 font-size: 30px;
	}
	.__pf .pf-20bc0c37 {
		padding-bottom: 0px;
		 padding-top: 0px;
		 text-align: center;
	}
	.__pf .pf-d23b4735 {
		font-size: 20px;
	}
	.__pf .pf-88222e62 {
		font-size: 16px;
	}
	.__pf .pf-5d88f35c {
		font-size: 14px;
	}
	.__pf .pf-b5e40097 {
		font-size: 14px;
	}
	.__pf .pf-91ca7cfb {
		font-size: 14px;
	}
	.__pf .pf-796c506d {
		font-size: 14px;
	}
	.__pf .pf-e8a0efbe {
		font-size: 14px;
	}
	.__pf .pf-efbe618c {
		list-style-position: inside;
		 list-style-type: none;
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-6f123592 {
		padding-bottom: 0px;
		 padding-top: 0px;
		 text-align: left;
	}
	.__pf .pf-076e34e7 {
		font-weight: 500;
		 margin-top: 20px;
		 font-size: 27px;
		 text-align: center;
	}
	.__pf .pf-e7f9a4b1 {
		background-color: rgb(246, 245, 252);
	}
	.__pf .pf-a4b110b1 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-6432e28c {
		font-size: 19px;
		 font-weight: 700;
		 margin-top: 0px;
		 color: rgb(51, 51, 51);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-bb816871 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-6871c6d2 {
		font-weight: 700;
	}
	.__pf .pf-6871c6d2 > label {
		font-size: 16px;
	}
	.__pf .pf-d2ff09a5 {
		font-weight: 700;
		 font-size: 13px;
	}
	.__pf .pf-d2ff09a5 > label {
		font-size: 16px;
	}
	.__pf .pf-11065662 {
		font-weight: 700;
	}
	.__pf .pf-11065662 > label {
		font-size: 16px;
	}
	.__pf .pf-dee47566 > label {
		font-size: 16px;
		 color: rgb(0, 0, 0);
		 font-weight: 700;
	}
	.__pf .pf-afbca01a {
		font-family: "Neue Aachen", serif;
		 color: rgb(255, 255, 255);
		 background-color: rgb(24, 51, 100);
		 border-style: solid;
		 border-width: 1px;
		 border-radius: 0px;
	}
	.__pf .pf-afbca01a:hover {
		font-family: "Neue Aachen", serif;
		 background-color: rgb(255, 255, 255);
		 color: rgb(0, 0, 0);
		 border-style: solid;
	}
	.__pf .pf-a01a2160 {
		text-align: center;
	}
	.__pf .pf-34e5df27 {
		font-size: 20px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(102, 102, 102);
	}
	.__pf .pf-f0335cca {
		margin-top: 0px;
		 margin-bottom: 50px;
		 font-size: 16px;
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-42dfebb6 {
		margin-top: 0px;
		 margin-bottom: 50px;
		 font-size: 16px;
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-ebb61da1 {
		font-size: inherit;
	}
	.__pf .pf-a1802e89 {
		background-color: rgba(155, 155, 155, 0.41);
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-2e89f085 {
		font-size: inherit;
	}
	.__pf .pf-85e21fc9 {
		color: rgb(255, 255, 255);
		 background-color: rgb(61, 106, 214);
	}
	.__pf .pf-1fc92ca9 {
		font-size: inherit;
		 color: rgb(29, 161, 242);
	}
	.__pf .pf-a9466a2a {
		color: rgb(0, 0, 0);
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-2a660dd2 {
		background-color: rgb(246, 245, 252);
	}
	.__pf .pf-0dd2ff3b {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-01fcd359 {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 font-size: 30px;
		 margin-top: 20px;
		 margin-bottom: 0px;
	}
	.__pf .pf-d67b8e6c {
		padding-top: 0px;
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-51462e9f {
		font-weight: 700;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-2e9f2563 {
		list-style-position: inside;
		 list-style-type: decimal;
	}
	.__pf .pf-ff7cb437 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-63386140 {
		font-size: 16px;
	}
	.__pf .pf-ffc41b01 {
		font-size: 15px;
		 text-transform: capitalize;
	}
	.__pf .pf-acddae77 {
		font-size: 16px;
	}
	.__pf .pf-9d422a08 {
		font-size: 16px;
	}
	.__pf .pf-1d48affe {
		font-size: 14px;
	}
	.__pf .pf-98b50d21 {
		font-size: 14px;
	}
	.__pf .pf-2a1d3245 {
		font-size: 14px;
	}
	.__pf .pf-8814f4b3 {
		font-size: 14px;
	}
	.__pf .pf-677bfa1a {
		font-size: 16px;
	}
	.__pf .pf-61ad8145 {
		font-size: 15px;
	}
	.__pf .pf-14db7f11 {
		font-size: 22px;
	}
	.__pf .pf-16641a5e {
		padding: 40px;
	}
	.__pf .pf-1a5ec243 {
		padding-right: 0px;
		 background-image: url("");
		 height: 250px;
	}
	.__pf .pf-c24396ea {
		background-image: url("https://cdn.shopify.com/s/files/1/0283/9815/7955/t/6/assets/pf-ef67d4a7--370x250px.png?v=1593863254&selected");
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-8838015e {
		font-size: 18px;
		 margin-bottom: 26px;
		 margin-top: 0px;
	}
	.__pf .pf-8e18ba6b {
		background-image: url("https://cdn.shopify.com/s/files/1/0283/9815/7955/t/6/assets/pf-4dabadea--592_400x400.jpg?v=1592970564");
		 padding-top: 110px;
		 padding-bottom: 121px;
		 margin-top: 10px;
		 margin-bottom: -2px;
	}
	.__pf .pf-6edd7e4c {
		font-size: 18px;
	}
	.__pf .pf-53056cc2 {
		margin-bottom: 30px;
		 font-size: 14px;
	}
	.__pf .pf-e876888c {
		padding-right: 2px;
		 font-size: 14px;
		 padding-left: 0px;
	}
	.__pf .pf-e7de2253 {
		padding-left: 0px;
		 padding-right: 0px;
		 font-size: 14px;
		 margin-left: 2px;
		 margin-right: 2px;
	}
	.__pf .pf-22532748 {
		color: rgb(29, 161, 242);
	}
	.__pf .pf-481df1af {
		background-color: rgba(155, 155, 155, 0.46);
		 color: rgb(0, 0, 0);
		 padding-left: 2px;
		 padding-right: 0px;
		 font-size: 14px;
	}
	.__pf .pf-22a64b7a {
		padding: 2px 30px 0px;
	}
	.__pf .pf-4b7abd67 {
		margin-bottom: 40px;
	}
	.__pf .pf-bd67464c {
		margin-top: -36px;
	}
	.__pf .pf-f509f36e {
		font-size: 18px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-d23b4735 {
		font-size: 16px;
	}
	.__pf .pf-5d88f35c {
		font-size: 14px;
	}
	.__pf .pf-b5e40097 {
		font-size: 14px;
	}
	.__pf .pf-91ca7cfb {
		font-size: 14px;
	}
	.__pf .pf-796c506d {
		font-size: 14px;
	}
	.__pf .pf-e8a0efbe {
		font-size: 14px;
	}
	.__pf .pf-6f123592 {
		text-align: left;
	}
	.__pf .pf-076e34e7 {
		margin-bottom: 0px;
		 margin-top: 0px;
		 font-size: 14px;
	}
	.__pf .pf-6432e28c {
		font-size: 12px;
	}
	.__pf .pf-6871c6d2 > label {
		font-size: 14px;
	}
	.__pf .pf-d2ff09a5 > label {
		font-size: 14px;
	}
	.__pf .pf-11065662 {
		font-size: 14px;
	}
	.__pf .pf-dee47566 > label {
		font-size: 14px;
	}
	.__pf .pf-34e5df27 {
		font-size: 15px;
	}
	.__pf .pf-f0335cca {
		margin-bottom: 30px;
		 font-size: 14px;
	}
	.__pf .pf-42dfebb6 {
		margin-bottom: 30px;
		 font-size: 14px;
	}
	.__pf .pf-a1802e89 {
		padding-left: 5px;
		 padding-right: 5px;
	}
	.__pf .pf-85e21fc9 {
		padding-left: 5px;
		 padding-right: 5px;
	}
	.__pf .pf-1fc92ca9 {
		color: rgb(29, 161, 242);
	}
	.__pf .pf-a9466a2a {
		padding-left: 5px;
		 padding-right: 5px;
		 background-color: rgb(255, 255, 255);
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-2a660dd2 {
		margin-top: -11px;
	}
	.__pf .pf-01fcd359 {
		font-size: 20px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-ff7cb437 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-63386140 {
		font-size: 34px;
	}
	.__pf .pf-ffc41b01 {
		text-transform: capitalize;
	}
	.__pf .pf-acddae77 {
		font-size: 41px;
	}
	.__pf .pf-9d422a08 {
		font-size: 34px;
	}
	.__pf .pf-1d48affe {
		font-size: 28px;
	}
	.__pf .pf-98b50d21 {
		font-size: 22px;
	}
	.__pf .pf-2a1d3245 {
		font-size: 22px;
	}
	.__pf .pf-8814f4b3 {
		font-size: 22px;
	}
	.__pf .pf-677bfa1a {
		font-size: 41px;
	}
	.__pf .pf-61ad8145 {
		text-transform: initial;
	}
	.__pf .pf-14db7f11 {
		text-transform: capitalize;
	}
	.__pf .pf-1a5ec243 {
		padding-top: 99px;
	}
	.__pf .pf-c24396ea {
		background-image: url("https://cdn.shopify.com/s/files/1/0283/9815/7955/t/6/assets/pf-8c18b410--landing-3.png?v=1594291523&selected");
		 padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-e28cb9bb {
		margin-bottom: -51px;
	}
	.__pf .pf-0dd2ff3b {
		padding-top: 0px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-63386140 {
		font-size: 24px;
	}
	.__pf .pf-ffc41b01 {
		font-size: 20px;
	}
	.__pf .pf-acddae77 {
		font-size: 24px;
	}
	.__pf .pf-9d422a08 {
		font-size: 24px;
	}
	.__pf .pf-1d48affe {
		font-size: 24px;
	}
	.__pf .pf-98b50d21 {
		font-size: 24px;
	}
	.__pf .pf-2a1d3245 {
		font-size: 24px;
	}
	.__pf .pf-8814f4b3 {
		font-size: 24px;
	}
	.__pf .pf-677bfa1a {
		font-size: 24px;
		 padding-top: 24px;
	}
	.__pf .pf-61ad8145 {
		font-size: 16px;
	}
	.__pf .pf-14db7f11 {
		font-size: 24px;
	}
	.__pf .pf-16641a5e {
		padding-left: 50px;
	}
	.__pf .pf-1a5ec243 {
		padding-right: 0px;
	}
	.__pf .pf-c24396ea {
		background-image: url("https://cdn.shopify.com/s/files/1/0283/9815/7955/t/6/assets/pf-b3dc1e51--teb.jpg?v=1593103190&selected");
		 padding-top: 25px;
		 padding-bottom: 8px;
	}
	.__pf .pf-8e18ba6b {
		margin-bottom: 126px;
		 margin-top: 59px;
	}
	.__pf .pf-6edd7e4c {
		font-size: 17px;
		 margin-left: -60px;
		 margin-right: -60px;
	}
	.__pf .pf-53056cc2 {
		margin-top: 0px;
		 margin-right: -60px;
		 margin-left: -60px;
	}
	.__pf .pf-e876888c {
		padding-right: 2px;
		 padding-left: 0px;
	}
	.__pf .pf-e7de2253 {
		padding-left: 2px;
		 padding-right: 2px;
	}
	.__pf .pf-481df1af {
		padding-left: 2px;
		 padding-right: 2px;
	}
	.__pf .pf-22a64b7a {
		padding-right: 70px;
		 padding-left: 70px;
		 padding-bottom: 0px;
	}
	.__pf .pf-4b7abd67 {
		margin-bottom: 0px;
	}
	.__pf .pf-e28cb9bb {
		margin-bottom: -59px;
	}
	.__pf .pf-34e5df27 {
		font-size: 17px;
	}
}
						