/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.iVVzrr { position: relative; list-style: inherit; margin: 0 0 var(--line-spacing); }
.iVVzrr:last-child { margin: 0px; }
.iVVzrr::before { content: ""; display: inline-block; width: var(--text-indent); }
.iVVzrr > i { padding: 5px; margin-right: 5px; }
.iVVzrr > span { display: inline; }
.bMMcvF { margin: 0px; padding: 10px; }
.cxBaVr { margin: 0px; }
.cxBaVr > div { display: flex; position: relative; }
.cxBaVr.mailchimp--vertical div { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }
.cxBaVr input[name="name"] ~ input[name="email"] { margin-left: 10px; }
.cxBaVr.mailchimp--vertical input:first-of-type + input { margin: 10px 0px 0px; }
.cxBaVr.mailchimp--vertical button { width: 100%; margin-top: 10px; }
.cxBaVr input, .cxBaVr button { height: 40px; padding: 0px 20px; line-height: 40px; border-radius: 0px; box-sizing: border-box; box-shadow: none !important; outline: none !important; }
.cxBaVr.cxBaVr button { border: none; background-color: rgb(45, 45, 45); color: rgb(255, 255, 255); font-size: 13px; flex: 0 0 auto; margin-left: -1px; width: auto; }
.cxBaVr button > i + span { margin-left: 10px; }
.cxBaVr input { width: 100%; }
.eubWuu .video-wrapper, .eubWuu .mediaWrapper { padding: 0px; position: initial !important; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.csiTZj { padding: 8px; }
.csiTZj label { position: relative; display: flex; align-items: center; font-size: 16px; width: fit-content; }
.csiTZj label:not(:last-child) { margin-bottom: 4px; }
.csiTZj sup { position: relative; top: -8px; color: red; }
.csiTZj input, .csiTZj textarea, .csiTZj select { border: 1px solid rgb(209, 213, 219); font-size: 16px; background: rgb(255, 255, 255); border-radius: 4px; width: 100%; outline: 0px; }
.csiTZj input::placeholder, .csiTZj textarea::placeholder, .csiTZj select::placeholder { color: rgb(209, 213, 219); }
.csiTZj input { padding: 10px 8px; }
.csiTZj input[type="checkbox"], .csiTZj input[type="radio"] { width: auto; padding: 0px; margin-right: 8px; }
.csiTZj textarea { padding-left: 8px; resize: none; }
.csiTZj select { padding: 10px 8px; height: 40px; }
.csiTZj button { padding: 10px 20px; background: rgb(93, 107, 130); border-radius: 4px; color: rgb(255, 255, 255); font-size: 16px; border: 0px; }
.kEvrqM { border-radius: 4px; margin-top: 16px; padding: 16px; text-align: center; font-size: 14px; color: rgb(23, 43, 77); background: rgb(253, 231, 235); border: 1px solid rgb(235, 14, 55); }
.hYCNmc { border-radius: 4px; margin-top: 16px; padding: 16px; text-align: center; font-size: 14px; color: rgb(23, 43, 77); background: rgb(230, 243, 237); border: 1px solid rgb(7, 136, 74); }
.jBiRe { -webkit-appearance: none; outline: none; font-family: inherit; }
.jBiRe > i { margin-right: 0.3em; }
.iRZdgm { display: flex; position: relative; width: 100%; flex-direction: column; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-cd6aca0f {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 margin-top: 20px;
		 text-align: center;
		 font-size: 30px;
	}
	.__pf .pf-21ad4bf3 {
		background-color: rgb(246, 245, 252);
	}
	.__pf .pf-13ae1bd9 {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-403c19c7 {
		font-family: "Open Sans";
		 font-size: 25px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-7da6ee60 {
		font-size: 25px;
		 font-weight: 700;
		 margin-top: 0px;
		 color: rgb(51, 51, 51);
		 margin-bottom: 0px;
		 text-transform: capitalize;
	}
	.__pf .pf-bfa7f00b {
		font-size: 40px;
		 margin-top: 0px;
		 color: rgb(51, 51, 51);
		 margin-bottom: 0px;
		 text-transform: initial;
		 font-weight: 700;
	}
	.__pf .pf-ff873941 {
		font-family: "Open Sans";
		 font-size: 22px;
		 font-weight: 700;
		 margin-top: 0px;
		 color: rgb(51, 51, 51);
		 margin-bottom: 0px;
	}
	.__pf .pf-6e9e7f7a {
		font-family: "Open Sans";
		 font-size: 23px;
		 font-weight: 700;
		 margin-top: 0px;
		 color: rgb(51, 51, 51);
		 margin-bottom: 0px;
	}
	.__pf .pf-a7ac7b0f {
		font-family: "Open Sans";
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
		 color: rgb(51, 51, 51);
		 margin-bottom: 0px;
	}
	.__pf .pf-bc0608e4 {
		font-size: 25px;
		 font-weight: 700;
		 margin-top: 0px;
		 color: rgb(51, 51, 51);
		 margin-bottom: 0px;
		 text-transform: capitalize;
	}
	.__pf .pf-3573d8bc {
		font-size: 37px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 30px;
		 color: rgb(51, 51, 51);
		 text-transform: capitalize;
	}
	.__pf .pf-ecc56b14 {
		margin-top: 0px;
		 margin-bottom: 0px;
		 font-size: 18px;
		 font-family: "Open Sans";
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-6b146f3f {
		background-color: rgba(255, 255, 255, 0.57);
		 padding-right: 70px;
		 padding-left: 70px;
	}
	.__pf .pf-6f3fcb3b {
		padding-right: 560px;
	}
	.__pf .pf-cb3b68fb {
		background-size: cover;
		 background-position: 50% 50%;
		 background-image: url("https://cdn.shopify.com/s/files/1/0283/9815/7955/t/6/assets/pf-03cdd83d--1900X68821.jpg?v=1592047778");
		 padding-bottom: 150px;
		 padding-top: 150px;
		 background-color: rgb(248, 248, 248);
	}
	.__pf .pf-91a30e13 {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 margin-top: 20px;
		 font-size: 30px;
	}
	.__pf .pf-ef5aca8d {
		padding-bottom: 0px;
		 padding-top: 0px;
		 text-align: center;
	}
	.__pf .pf-ca8d835a {
		background-size: cover;
		 background-position: 50% 50%;
		 background-image: url("https://cdn.shopify.com/s/files/1/0283/9815/7955/t/6/assets/pf-4dabadea--592.jpg?v=1592970564");
		 margin-top: 30px;
		 margin-bottom: 10px;
	}
	.__pf .pf-942f6154 {
		font-size: 20px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(102, 102, 102);
	}
	.__pf .pf-a18aef53 {
		margin-bottom: 50px;
		 font-size: 16px;
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-8991df22 {
		font-size: inherit;
	}
	.__pf .pf-22a05e19 {
		background-color: rgba(155, 155, 155, 0.41);
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-5e197e2a {
		font-size: inherit;
	}
	.__pf .pf-2a232034 {
		color: rgb(255, 255, 255);
		 background-color: rgb(61, 106, 214);
	}
	.__pf .pf-2034a59e {
		font-size: inherit;
		 color: rgb(29, 161, 242);
	}
	.__pf .pf-9e4d6024 {
		color: rgb(0, 0, 0);
		 background-color: rgb(224, 223, 223);
	}
	.__pf .pf-efb1a579 {
		padding-top: 7px;
	}
	.__pf .pf-20fe1c3e {
		background-color: rgb(255, 255, 255);
		 padding: 70px;
	}
	.__pf .pf-1c3efbb1 {
		margin-bottom: 100px;
	}
	.__pf .pf-fbb145de {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-000d38e5 {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 margin-top: 20px;
		 font-size: 30px;
	}
	.__pf .pf-047092fb {
		padding-bottom: 0px;
		 padding-top: 0px;
		 text-align: center;
	}
	.__pf .pf-1a5f5170 {
		font-size: 20px;
	}
	.__pf .pf-db568198 {
		list-style-position: inside;
		 list-style-type: none;
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-5858102a {
		padding-bottom: 0px;
		 padding-top: 0px;
		 text-align: left;
	}
	.__pf .pf-cf06876a {
		font-weight: 500;
		 margin-top: 20px;
		 font-size: 27px;
		 color: rgb(255, 255, 255);
		 text-align: center;
	}
	.__pf .pf-cc10023e {
		background-color: rgba(245, 166, 35, 0.62);
	}
	.__pf .pf-eb71c157 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-4d703718 {
		font-size: 19px;
		 font-weight: 700;
		 margin-top: 0px;
		 color: rgb(51, 51, 51);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-19ace9b8 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-e9b84bf9 {
		font-weight: 700;
	}
	.__pf .pf-e9b84bf9 > label {
		font-size: 16px;
	}
	.__pf .pf-f9d36b76 {
		font-weight: 700;
		 font-size: 13px;
	}
	.__pf .pf-f9d36b76 > label {
		font-size: 16px;
	}
	.__pf .pf-15942bb7 {
		font-weight: 700;
	}
	.__pf .pf-15942bb7 > label {
		font-size: 16px;
	}
	.__pf .pf-f13f2478 > label {
		font-size: 16px;
		 color: rgb(0, 0, 0);
		 font-weight: 700;
	}
	.__pf .pf-cce67bcd {
		font-family: "Neue Aachen", serif;
		 color: rgb(255, 255, 255);
		 background-color: rgb(24, 51, 100);
		 border-style: solid;
		 border-width: 1px;
		 border-radius: 0px;
	}
	.__pf .pf-cce67bcd:hover {
		font-family: "Neue Aachen", serif;
		 background-color: rgb(255, 255, 255);
		 color: rgb(0, 0, 0);
		 border-style: solid;
	}
	.__pf .pf-7bcdbf0d {
		text-align: center;
	}
	.__pf .pf-62855e4c {
		font-size: 20px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(102, 102, 102);
	}
	.__pf .pf-64283f7b {
		margin-top: 0px;
		 margin-bottom: 50px;
		 font-size: 16px;
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-d6a88991 {
		margin-top: 0px;
		 margin-bottom: 50px;
		 font-size: 16px;
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-fc560a7f {
		font-size: inherit;
	}
	.__pf .pf-ac0281c8 {
		background-color: rgba(155, 155, 155, 0.41);
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-6154f296 {
		font-size: inherit;
	}
	.__pf .pf-13c5fc56 {
		color: rgb(255, 255, 255);
		 background-color: rgb(61, 106, 214);
	}
	.__pf .pf-81c83a30 {
		font-size: inherit;
		 color: rgb(29, 161, 242);
	}
	.__pf .pf-8add55a7 {
		color: rgb(0, 0, 0);
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-24e2e782 {
		background-color: rgb(246, 245, 252);
	}
	.__pf .pf-e7824601 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-e9bf28ee {
		font-weight: 500;
		 color: rgb(45, 45, 45);
		 font-size: 30px;
		 margin-top: 20px;
		 margin-bottom: 0px;
	}
	.__pf .pf-da2fe218 {
		padding-top: 0px;
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-c8149861 {
		font-weight: 700;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-784fdbf5 {
		list-style-position: inside;
		 list-style-type: decimal;
	}
	.__pf .pf-93737403 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-cd6aca0f {
		font-size: 14px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-13ae1bd9 {
		font-size: 16px;
	}
	.__pf .pf-403c19c7 {
		font-size: 16px;
	}
	.__pf .pf-7da6ee60 {
		font-size: 15px;
		 text-transform: capitalize;
	}
	.__pf .pf-bfa7f00b {
		font-size: 22px;
		 text-transform: initial;
	}
	.__pf .pf-ff873941 {
		font-size: 16px;
	}
	.__pf .pf-6e9e7f7a {
		font-size: 16px;
	}
	.__pf .pf-a7ac7b0f {
		font-size: 16px;
	}
	.__pf .pf-bc0608e4 {
		font-size: 15px;
	}
	.__pf .pf-3573d8bc {
		font-size: 22px;
	}
	.__pf .pf-6b146f3f {
		padding: 40px;
		 background-color: rgba(255, 255, 255, 0.5);
	}
	.__pf .pf-6f3fcb3b {
		padding-right: 0px;
	}
	.__pf .pf-cb3b68fb {
		background-image: url("https://cdn.shopify.com/s/files/1/0283/9815/7955/t/6/assets/pf-d83da7f7--370250.png?v=1592049100&selected");
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-91a30e13 {
		font-size: 18px;
		 margin-bottom: 26px;
		 margin-top: 0px;
	}
	.__pf .pf-ca8d835a {
		background-image: url("https://cdn.shopify.com/s/files/1/0283/9815/7955/t/6/assets/pf-4dabadea--592_400x400.jpg?v=1592970564");
		 padding-top: 110px;
		 padding-bottom: 120px;
		 margin-top: 10px;
		 margin-bottom: 0px;
	}
	.__pf .pf-942f6154 {
		font-size: 15px;
	}
	.__pf .pf-a18aef53 {
		margin-bottom: 30px;
		 font-size: 14px;
	}
	.__pf .pf-22a05e19 {
		padding-right: 2px;
		 font-size: 14px;
		 padding-left: 0px;
	}
	.__pf .pf-2a232034 {
		padding-left: 0px;
		 padding-right: 0px;
		 font-size: 14px;
		 margin-left: 2px;
		 margin-right: 2px;
	}
	.__pf .pf-2034a59e {
		color: rgb(29, 161, 242);
	}
	.__pf .pf-9e4d6024 {
		background-color: rgb(255, 255, 255);
		 color: rgb(0, 0, 0);
		 padding-left: 2px;
		 padding-right: 0px;
		 font-size: 14px;
	}
	.__pf .pf-20fe1c3e {
		padding: 6px 30px 0px;
	}
	.__pf .pf-1c3efbb1 {
		margin-bottom: 40px;
	}
	.__pf .pf-fbb145de {
		margin-top: -36px;
	}
	.__pf .pf-000d38e5 {
		font-size: 20px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-1a5f5170 {
		font-size: 16px;
	}
	.__pf .pf-95c1a453 {
		font-size: 14px;
	}
	.__pf .pf-a45322fc {
		font-size: 14px;
	}
	.__pf .pf-22fcdb56 {
		font-size: 14px;
	}
	.__pf .pf-ef3744af {
		font-size: 14px;
	}
	.__pf .pf-e86b428f {
		font-size: 14px;
	}
	.__pf .pf-5858102a {
		text-align: left;
	}
	.__pf .pf-cf06876a {
		margin-bottom: 0px;
		 margin-top: 0px;
		 font-size: 14px;
	}
	.__pf .pf-4d703718 {
		font-size: 12px;
	}
	.__pf .pf-e9b84bf9 > label {
		font-size: 14px;
	}
	.__pf .pf-f9d36b76 > label {
		font-size: 14px;
	}
	.__pf .pf-15942bb7 {
		font-size: 14px;
	}
	.__pf .pf-f13f2478 > label {
		font-size: 14px;
	}
	.__pf .pf-62855e4c {
		font-size: 15px;
	}
	.__pf .pf-64283f7b {
		margin-bottom: 30px;
		 font-size: 14px;
	}
	.__pf .pf-d6a88991 {
		margin-bottom: 30px;
		 font-size: 14px;
	}
	.__pf .pf-ac0281c8 {
		padding-left: 5px;
		 padding-right: 5px;
	}
	.__pf .pf-13c5fc56 {
		padding-left: 5px;
		 padding-right: 5px;
	}
	.__pf .pf-81c83a30 {
		color: rgb(29, 161, 242);
	}
	.__pf .pf-8add55a7 {
		padding-left: 5px;
		 padding-right: 5px;
		 background-color: rgb(255, 255, 255);
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-24e2e782 {
		margin-top: -11px;
	}
	.__pf .pf-e9bf28ee {
		font-size: 20px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-93737403 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-13ae1bd9 {
		font-size: 34px;
	}
	.__pf .pf-403c19c7 {
		font-size: 34px;
	}
	.__pf .pf-7da6ee60 {
		text-transform: capitalize;
	}
	.__pf .pf-bfa7f00b {
		text-transform: initial;
		 font-size: 78px;
	}
	.__pf .pf-ff873941 {
		font-size: 41px;
	}
	.__pf .pf-6e9e7f7a {
		font-size: 41px;
	}
	.__pf .pf-a7ac7b0f {
		font-size: 41px;
	}
	.__pf .pf-bc0608e4 {
		text-transform: initial;
	}
	.__pf .pf-3573d8bc {
		text-transform: capitalize;
	}
	.__pf .pf-cb3b68fb {
		background-image: url("https://cdn.shopify.com/s/files/1/0283/9815/7955/t/6/assets/pf-2711626d--1190X56013.jpg?v=1592050989&selected");
		 padding-bottom: 10px;
		 padding-top: 150px;
	}
	.__pf .pf-37182e19 {
		margin-bottom: -51px;
	}
	.__pf .pf-e7824601 {
		padding-top: 0px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-cd6aca0f {
		font-size: 20px;
	}
	.__pf .pf-13ae1bd9 {
		font-size: 24px;
	}
	.__pf .pf-403c19c7 {
		font-size: 24px;
	}
	.__pf .pf-7da6ee60 {
		font-size: 20px;
	}
	.__pf .pf-bfa7f00b {
		font-size: 40px;
	}
	.__pf .pf-ff873941 {
		font-size: 24px;
	}
	.__pf .pf-6e9e7f7a {
		font-size: 24px;
	}
	.__pf .pf-a7ac7b0f {
		font-size: 24px;
	}
	.__pf .pf-bc0608e4 {
		font-size: 16px;
	}
	.__pf .pf-3573d8bc {
		font-size: 24px;
	}
	.__pf .pf-6f3fcb3b {
		padding-right: 300px;
	}
	.__pf .pf-cb3b68fb {
		background-image: url("https://cdn.shopify.com/s/files/1/0283/9815/7955/t/6/assets/pf-03cdd83d--1900X68821_800x800.jpg?v=1592047778");
		 padding-top: 21px;
		 padding-bottom: 14px;
	}
	.__pf .pf-ca8d835a {
		margin-bottom: 126px;
		 margin-top: 59px;
	}
	.__pf .pf-942f6154 {
		font-size: 17px;
		 margin-left: -60px;
		 margin-right: -60px;
	}
	.__pf .pf-a18aef53 {
		margin-top: 0px;
		 margin-right: -60px;
		 margin-left: -60px;
	}
	.__pf .pf-22a05e19 {
		padding-right: 2px;
		 padding-left: 0px;
	}
	.__pf .pf-2a232034 {
		padding-left: 2px;
		 padding-right: 2px;
	}
	.__pf .pf-9e4d6024 {
		padding-left: 2px;
		 padding-right: 2px;
	}
	.__pf .pf-20fe1c3e {
		padding-right: 70px;
		 padding-left: 70px;
		 padding-bottom: 0px;
	}
	.__pf .pf-1c3efbb1 {
		margin-bottom: 0px;
	}
	.__pf .pf-37182e19 {
		margin-bottom: -59px;
	}
	.__pf .pf-62855e4c {
		font-size: 17px;
	}
}
						