@font-face {
    font-family: 'nordItalic';  
    src: url('Incised901BT-NordItalic.eot');
    src: url('Incised901BT-NordItalic.eot?#iefix') format('embedded-opentype'),
    url('Incised901BT-NordItalic.woff') format('woff'),
    url('Incised901BT-NordItalic.ttf') format('truetype'),
    url('Incised901BT-NordItalic.svg#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
  }
/* 公共样式 */
.no-scroll{
    &::-webkit-scrollbar {
        display: none; /* Chrome Safari */
    }
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #F5F5F5;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
    background-color: rgb(161, 161, 161);
}

.required,
.error {
    color: #f56c6c !important;
}
.primary{
    color: #0072c5 !important;
}
.success {
    color: #67c23a !important;
}
.danger {
  color: #e60012 !important;
}
.border-radius-little {
  border-radius: 4px !important;
}

.border-radius-normal {
    border-radius: 8px !important;
}
.border-radius-bigger {
    border-radius: 40px !important;
}

.box-shadow-normal {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 10%);
}

.out-border {
    width: 190px;
    line-height: initial;
}
.border-btn {
  border-radius: 40px;
  display: inline-block;
}
.margin-auto {
    margin: auto !important;
    display: flex;
    flex-wrap: wrap;
}

.margin-auto li {
    display: inline-block;
    text-align: left;
}

.text-center {
    text-align: center;
}

.margin-top-littler {
  margin-top: 15px !important;
}
.margin-bottom-littler {
    margin-bottom: 15px !important;
}
.margin-right-littler {
  margin-right: 15px !important;
}
.margin-left-littler {
  margin-left: 15px !important;
}
.padding-top-littler {
  padding-top: 15px !important;
}
.padding-bottom-littler {
  padding-bottom: 15px !important;
}
.padding-right-littler {
  padding-right: 15px !important;
}
.padding-left-littler {
  padding-left: 15px !important;
}

.margin-bottom-little {
    margin-bottom: 30px !important;
}
.margin-top-little {
    margin-top: 30px !important;
}
.padding-little {
  padding: 30px;
}
.padding-bottom-little {
  padding-bottom: 30px !important;
}
.padding-top-little {
  padding-top: 30px !important;
}
.padding-left-little {
  padding-left: 30px !important;
}
.padding-right-little {
  padding-right: 30px !important;
}

.margin-top-normal {
    margin-top: 60px !important;
}

.margin-bottom-normal {
    margin-bottom: 60px !important;
}
.padding-top-normal {
    padding-top: 60px !important;
}
.padding-left-normal {
padding-left: 60px !important;
}
.padding-right-normal {
padding-right: 60px !important;
}
  
.padding-bottom-normal {
    padding-bottom: 60px;
}

.padding-top-big {
    padding-top: 90px;
}

.padding-bottom-big {
    padding-bottom: 90px;
}

.margin-top-big {
  margin-top: 90px !important;
}

.margin-bottom-big {
  margin-bottom: 90px !important;
}
.margin-left-big {
    margin-left: 90px !important;
}

.margin-right-big {
    margin-right: 90px !important;
}

.margin-top-bigger {
  margin-top: 110px !important;
}

.margin-bottom-bigger {
  margin-bottom: 110px !important;
}
.padding-bottom-bigger {
    padding-bottom: 110px!important;
}
.padding-top-bigger {
    padding-top: 110px!important;
}
.margin-left-bigger {
    margin-left: 110px !important;
}
.margin-right-bigger {
    margin-right: 110px !important;
}
.margin-top-bigger {
  margin-top: 110px !important;
}
.margin-top-biggest {
  margin-top: 150px;
}
.margin-left-biggest {
    margin-left: 150px !important;
}
.margin-right-biggest {
    margin-right: 150px !important;
}

.strong {
    font-weight: bold;
}

.normal-response {
    width: auto;
    display: inline-block;
}

.full-response {
    width: 100%;
    height: auto;
}

.flex {
    display: flex!important;
}
.flex-center {
    display: flex!important;
    align-items: center;
}
.flex-between {
    display: flex!important;
    align-items: center;
    justify-content: space-between;
}
.flex-justify-center {
    display: flex!important;
    align-items: center;
    justify-content: center;
}
.flex-column-center {
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.block {
    display: block;
}


.text-linear {
    background-image: linear-gradient(left, #c7025f, #73a2df);
}

.relative {
    position: relative !important;
}
.absolute {
    position: absolute !important;
    left: 0;
    top: 0;
}
.absolute-center {
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.absolute-row-center {
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
}
.absolute-column-center {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
}
.margin-auto {
    margin: auto;
}
.height-bigger {
    height: 960px;
    overflow: hidden;
}
.height-big {
    height: 800px;
    overflow: hidden;
}
.height-normal {
    height: 700px;
    overflow: hidden;
}

.height-little {
    height: 480px !important;
    overflow: hidden;
}

.img-absolute video {
    width: 100%;
}

.left-bottom-absolute {
    position: absolute;
    left: 8vw;
    bottom: 13.3333vw;
}
.bg-linear{
  background-image:linear-gradient(to right,#02cdb9,#6462b7)
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.clearfix{
    clear: both;
}
.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 15px!important;
}
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* 自定义样式 */
.new {
    .height-normal {
        height: 800px;
    }
    h4 {
        font-size: 28px;
    }
    .upox {
        p {
            font-size: 20px;
            color: #1d1d1f;
            line-height: 1.35;
        }
        h2 {
            font-size: 68px;
            line-height: 1.2;
        }
    }
}
.width-100 {
  width: 100% !important;
}
.width-33 {
    width: 33.33% !important;
}
.wrapper {
  overflow: hidden;
}
.product__thumbnail {
    .flickity-page-dots {
        bottom: 30px;
        .dot {
            width: 15px;
            height: 3px;
            margin: 0 3px;
            border-radius: 0;
            background: #333;
            opacity: 0.2;
            &.is-selected {
                opacity: 1;
            }
        }
    }
}
.banner__wrapper {
    .banner__text {
        p {
            font-size: 20px;
        }
    }
}
.banner__text {
    max-width: 1365px;
}

.collection-main-top {
    background-color: #f7f7f7;
    margin-top: 0;

    .sidebar__block {
        padding-bottom: 0;
    }

    .sidebar-block__heading {
        display: none;
    }

    .sidebar-block__content {
        text-align: center;
        display: block;

        .sidebar-block__item {
            display: inline-block;
            width: auto;
            margin-bottom: 0;

            a {
                display: block;
                padding: 0 65px;
                position: relative;
                cursor: pointer;
                line-height: 45px;

                &:hover,
                &.active {
                    color: #0072c5;
                }
            }
        }
    }
}

.collection__description,
.banner__heading {
    color: #1d1d1f;
}

.banner__heading {
    font-size: 50px;
    color: #fff;
}

.collection__description p {
    font-size: 18px;
    color: #fff;
}

.product-thumbnail {
    font-size: 14px;
    > a {
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        font-size: 20px;
        font-weight: 600;
    }
    p {
        line-height: 2;
    }
    .app-description {
        strong {
            font-weight: normal !important;
        }
    }
}
.product__information {
    .description.content {
        font-size: 24px;
        font-family: "AlibabaSansLight";
    }
}
.product-image__wrapper {
    background-color: #f7f7f7;
    border-radius: 4px;
}
.header__logo {
    .image-element__wrap {
        max-height: 56px;
    }
}
.mobile-header__logo {
    .image-element__wrap {
        max-height: 66px;
    }
}

.specifications-info {
    position: absolute;
    right: 11%;
    top: 29%;
    display: flex;
    color: #e0e0e0;
    flex-wrap: wrap;
    width: 828px;
    @media screen and (max-width: 1920px) {
        right: 9.2%;
        width: 812px;
    }
    @media screen and (max-width: 1681px) {
        right: 2.8%;
        width: 828px;
    }
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        padding: 83px 0;
        span {
            &:first-child {
                color: #67aa9e;
                font-size: 30px;
            }
            &:last-child {
                font-size: 40px;
                line-height: 1.8;
            }
        }
    }
}
.announcement-bar__container {
    line-height: 0;
}
.footer{
    .social-icons{
        li{
            a{
                display: inline-block;
                width: 22px;
                height: 22px;
            }
        }
    }
}
.font-talic{
    font-family: nordItalic;
    font-size: 54px!important;
    line-height: 1.1!important;
}
.slide-wrapper {
    .img-top{
        position: absolute;
        right: 0;
        width: 50%;
        bottom:75px;
        z-index: 10;
    }
}
.video-wrapper{
    .img-absolute{
        background-color: rgba(0,0,0,.8);
    }
    .img-box{
        img{
            filter: grayscale(.9);
            cursor: pointer;
            &:hover{
                filter: grayscale(0);
            }
        }
    }
 }  
 .banner-design{
    height: 300vh;
    overflow: initial;
    .flex-center{
        background-color: #222222;
        border-radius: 30px;
        overflow: hidden;
        >div{
            flex: 1;
        }
        .image-box{
            line-height: 0;
            font-size: 0;
        }
    }
 }
 .sticky {
    height: 100vh;
    left: 0;
    padding-top: 72px;
    position: sticky;
    top: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    .bottom{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: #000;
    }
    .top{
        width: 100%;
    }
    
    .left,.right{
        position: absolute;
        width: 433px;
    }
    
    .left{
        left: 0;
        top: 17.11vh;
    }
    .right{
        right: 0;
        top: 62.33vh;
    }
    .line{
        background-color: #fff;
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: block;
    }
    .text-wrapper{
        width: 40%;
        .img-icon{
            width: 166px;
            height: auto;
        }
        h3{
            background-image: -webkit-linear-gradient(left,#fce16c,#ffc712,#feb556);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 52px;
            line-height: 1.3;
            margin: 0;
        }
    }
    .right-wrapper{
        position: absolute;
        right: 0%;
        top: 0px;
        width: 50%;
    }
}
.image-wrapper{
    .image-box{
        font-size: 0;
        line-height: 0;
        transition: all 0.3s ease-in-out;
        text-align: center;
        .image-info{
            color: #fff;
            font-size: 22px;
            line-height: 1.2;
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
        }
    }
    &:hover{
        .image-btn{
            transition: all 0.3s ease-in-out;
            transform: translateX(0) translateY(0);
            opacity: 1;
        }
        .image-box{
            box-shadow:  0 2px 12px 0 rgba(0, 0, 0, 25%);
        }
    }
    .image-btn{
        transition: all 0.3s ease-in-out;
        transform: translateX(-150px) translateY(70px);
        position: absolute;
        right: 5px;
        bottom: -30px;
        opacity: 0;
        width: 300px;
    }
}
.img-icon,.img-box{
    font-size: 0;
    line-height: 0;
}
.product-last-swiper{
    .swiper-slide{
        width: 100%!important;
    }
}
