{% comment %} To edit the contents of this file, look inside the `sections`
folder for the file name that comes directly after `section`. Eg. {% section
'product__main' %} or {% section 'page__banner' %} {% endcomment %}
<link rel="stylesheet" href="{{ 'element.min.css' | asset_url }}" />

<main class="shopify-section giveaway-page" id="app" v-cloak>
    <!-- 桌面 -->
    <div class="desk new">
        <div class="wrapper relative height-bigger">
            <p class="img-absolute">
                <img
                    src="https://cdn.shopify.com/s/files/1/0283/9815/7955/files/givea-01.jpg?v=1668318536"
                    alt=""
                />
            </p>
            <div class="section upox">
                <div class="absolute-column-center" style="width: 50%">
                    <p style="color: #fff">Football Cup 2022 × UPENDS</p>
                    <h3 style="color: #fff" class="margin-top-littler">
                        Cheer for Your Country to Win
                    </h3>
                    <p style="color: #fff" class="margin-top-little">
                        Nov 15 - Dec 18
                    </p>
                    <a href="#login">
                        <el-button round class="is-uppercase margin-top-normal"
                            >Join Now</el-button
                        >
                    </a>
                </div>
            </div>
        </div>
        <div class="wrapper relative height-bigger">
            <p class="img-absolute">
                <img
                    src="https://cdn.shopify.com/s/files/1/0283/9815/7955/files/givea-02.png?v=1667398951"
                    alt=""
                />
            </p>
            <div class="section upox">
                <div class=" margin-top-biggest" style="width: 50%">
                    <h2 style="color: #fff" class="margin-top-littler">
                        JOIN THE<br />
                        GIVEAWAY<br />
                        TO WIN<br />
                    </h2>
                    <p style="color: #fff" class="margin-top-little">
                        How to join:<br />
                        Join the giveaway below and get entries every day<br />
                        to vote for your own country, and winners will be<br />
                        randomly selected from the country with the most
                        entries.<br />
                    </p>
                </div>
            </div>
        </div>
        <div class="wrapper relative height-bigger">
            <p class="img-absolute">
                <img
                    src="https://cdn.shopify.com/s/files/1/0283/9815/7955/files/givea-03.jpg?v=1667395969"
                    alt=""
                />
            </p>
            <div class="section upox">
                <div
                    class="absolute-column-center"
                    style="width: 40%; right: 0"
                >
                    <h3
                        style="color: #fff"
                        class="margin-top-littler is-uppercase"
                    >
                        Pass on the Football<br />
                        Cheer for Your Country
                    </h3>
                    <p style="color: #fff" class="margin-top-little">
                        Here comes the videos shot by influencers<br />
                        around the world, showing their enthusiasm<br />
                        and expectation for their countries<br />
                        in FIFA World Cup Qatar 2022! How about you?<br />
                        Let’s make videos ourselves to cheer<br />
                        for our countries and share them<br />
                        on your social media with #meshcoilisthefuture.<br />
                    </p>
                </div>
                <div class="absolute-center">
                    <el-button
                        @click="showDialog = true"
                        icon="el-icon-caret-right"
                        circle
                        style="font-size: 100px"
                    ></el-button>
                </div>
            </div>
          
        </div>
    </div>
    <div class="mobile new">
        <div class="wrapper relative height-bigger">
            <p class="img-absolute">
                <img
                    src="https://cdn.shopify.com/s/files/1/0283/9815/7955/files/givea-mobile-01.jpg?v=1667656267"
                    alt=""
                />
            </p>
            <div class="section">
                <div class="text-center margin-top-big">
                    <p style="color: #fff">Football Cup 2022 × UPENDS</p>
                    <h3 style="color: #fff" class="margin-top-littler">
                        Cheer for Your Country to Win
                    </h3>
                    <p style="color: #fff" class="margin-top-little">
                        Nov 15 - Dec 18
                    </p>
                    <a href="#login">
                        <el-button round :class="['is-uppercase',isMobile?'':'margin-top-normal']" :size="isMobile?'mini':''"
                            >Join Now</el-button
                        >
                    </a>
                </div>
            </div>
        </div>
        <div class="wrapper relative height-bigger">
            <p class="img-absolute">
                <img
                    src="https://cdn.shopify.com/s/files/1/0283/9815/7955/files/givea-mobile-02.png?v=1667657011"
                    alt=""
                />
            </p>
            <div class="section">
                <div >
                    <h2 style="color: #fff" class="margin-top-little">
                        JOIN THE<br />
                        GIVEAWAY<br />
                        TO WIN<br />
                    </h2>
                    <p style="color: #fff" class="margin-top-little">
                        How to join:<br />
                        Join the giveaway below and get entries every day<br />
                        to vote for your own country, and winners will be<br />
                        randomly selected from the country with the most
                        entries.<br />
                    </p>
                </div>
            </div>
        </div>
        <div class="wrapper relative height-bigger">
            <p class="img-absolute">
                <img
                    src="https://cdn.shopify.com/s/files/1/0283/9815/7955/files/givea-mobile-03.jpg?v=1667656267"
                    alt=""
                />
            </p>
            <div class="section">
                <div
            >
                <h3
                    style="color: #fff"
                    class="margin-top-normal is-uppercase"
                >
                    Pass on the Football<br />
                    Cheer for Your Country
                </h3>
                <p style="color: #fff" class="margin-top-little">
                    Here comes the videos shot by influencers<br />
                    around the world, showing their enthusiasm<br />
                    and expectation for their countries<br />
                    in FIFA World Cup Qatar 2022! How about you?<br />
                    Let’s make videos ourselves to cheer<br />
                    for our countries and share them<br />
                    on your social media with #meshcoilisthefuture.<br />
                </p>
            </div>
            <div class="absolute-center">
                <el-button
                    :size="isMobile?'small':''"
                    @click="showDialog = true"
                    icon="el-icon-caret-right"
                    circle
                    :style="{'font-size': isMobile?'5.8667vw':'100px'}"
                ></el-button>
            </div>
            </div>
        </div>
    </div>
    <el-dialog title=" Pass on the Football Cheer for Your Country" :width="isMobile?'90%':''" :visible.sync="showDialog" @open="$nextTick(()=>{$refs.givaeVideo.play()})"  @close="$refs.givaeVideo.pause()">
        <video controls="controls"   loop="loop" autoplay="autoplay" style="width:100%; margin:0px; padding:0px;" ref="givaeVideo">
            <source src="https://cdn.shopify.com/videos/c/o/v/571e33e0962a418c8ca854bbf15cfe23.mp4" type="video/mp4" />
        </video>
    </el-dialog>
    <!-- 投票功能模块 -->
    <div class=" wrapper relative bg-linear"  id="login">
        <div class="section upox">
            <div :class="['margin-top-bigger',{'text-center':!isMobile}]">
                <h3 style="color: #fff" class="is-uppercase">
                    Cheer for Your Country to Win
                </h3>
                <p style="color: #fff" class="margin-top-little">
                    FIFA World Cup Qatar 2022 is coming! Which team are you
                    cheering for?<br />
                    Let’s vote for our own countries to win FREE gifts!<br />
                    Now fill in your personal information to join the global
                    giveaway, earn entries every day<br />
                    for your country, and we will randomly select the
                    winners from the winning country<br />
                    to get the latest Macbook Pro, iPhone 14 or UpBar RS for
                    FREE! Hurry up!<br />
                </p>
            </div>
            <el-row :gutter="isMobile?0:140" :class="[isMobile?'margin-top-normal':'margin-top-bigger',isMobile?'margin-bottom-normal':'margin-bottom-bigger']">
                <el-col  :xs="24" :sm="24"  :md="10" :lg="10" >
                    <div class="entry-wrapper row-bg border-radius-little">
                        <!-- 头部积分模块 -->
                        <el-row
                            type="flex"
                            style="padding-top: 10px; padding-bottom: 10px"
                        >
                            <el-col
                                :span="8"
                                v-for="(item,index) in entryInfo"
                                class="flex-column-center"
                            >
                                <div class="entry-type-top">
                                    <span
                                        class="danger"
                                        style="font-size: 24px"
                                    >
                                        {[item.entries]}
                                    </span>
                                    <span
                                        class="unit"
                                        style="font-size: 16px"
                                        >{[item.unit]}</span
                                    >
                                </div>
                                <p
                                    class="entry-type-top-title"
                                >
                                    {[item.title]}
                                </p>
                            </el-col>
                        </el-row>
                        <!-- 积分banner -->
                        <div class="banner img-box">
                            <img
                                src="https://cdn.shopify.com/s/files/1/0283/9815/7955/files/entry-banner.jpg?v=1668439339"
                                alt=""
                            />
                        </div>
                        <!-- 登录模块 -->
                        <div class="login">
                            <div
                                class="login-form margin-top-littler padding-left-little padding-right-little"
                                v-if="!userInfo.email"
                            >
                                <div class="text-center">Login</div>
                                <el-form
                                    label-position="top"
                                    label-width="80px"
                                    ref="loginForm"
                                    :model="form"
                                    :rules="rules"
                                    @keyup.enter="login"
                                >
                                    <el-form-item
                                        label="Full Name"
                                        prop="name"
                                    >
                                        <el-input
                                            v-model="form.username"
                                        ></el-input>
                                    </el-form-item>
                                    <el-form-item
                                        label="Email Address"
                                        prop="email"
                                    >
                                        <el-input
                                            v-model="form.email"
                                        ></el-input>
                                    </el-form-item>
                                    <el-form-item
                                        label="Country"
                                        prop="country"
                                    >
                                        <el-select
                                            filterable
                                            v-model="form.country"
                                            placeholder="Please select a country"
                                            style="width: 100%"
                                        >
                                            <el-option
                                                :label="item.label"
                                                :value="item.value"
                                                v-for="(item,index) in countryList"
                                                :key="index"
                                            ></el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button
                                            type="primary"
                                            @click="login"
                                            style="width: 100%"
                                            >Enter Giveaway</el-button
                                        >
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div
                                class="login-out margin-top-little text-center"
                                v-else
                            >
                                <span class="margin-right-littler"
                                    >Entering as {[userInfo.username]}</span
                                ><el-button
                                    type="text"
                                    size="mini"
                                    @click="logout"
                                    >LogOut</el-button
                                >
                            </div>
                            <!-- tabs切换 -->
                            <el-tabs
                                :stretch="true"
                                v-model="activeTab"
                                class="padding-left-little padding-right-little"
                                @tab-click="tabClick"
                            >
                                <!-- 个人关怀方式 -->
                                <el-tab-pane label="Earn Entries" name="01">
                                    <div
                                        class="entry--list padding-top-littler padding-bottom-littler"
                                        v-for="(item,index) in entryList"
                                        :key="index"
                                    >
                                        <el-row
                                            :gutter="20"
                                            type="flex"
                                            align="middle"
                                            :class="{'cursor':userInfo.email}"
                                            @click.native="addEntries(item)"
                                        >
                                            <el-col :span="4">
                                                <div class="img-icon flex">
                                                    <img
                                                        :src="`https://cdn.shopify.com/s/files/1/0283/9815/7955/files/platform-${item.platformId}.png?v=1667412001`"
                                                        alt=""
                                                        srcset=""
                                                    />
                                                </div>
                                            </el-col>
                                            <el-col :span="20">
                                                <div
                                                    class="platform-info flex-between"
                                                >
                                                    <p
                                                        class="left-info"
                                                    >
                                                        {[ item.entryInfo ]}
                                                    </p>
                                                    <div class="right-icon">
                                                        <div
                                                            class="img-icon lock"
                                                            v-if="!userInfo.email"
                                                        >
                                                            <img
                                                                src="https://cdn.shopify.com/s/files/1/0283/9815/7955/files/lock.png?v=1667416487"
                                                                alt=""
                                                                srcset=""
                                                            />
                                                        </div>
                                                        <div
                                                            class="entry success bold"
                                                            v-else-if="item.entryType==='01' && item.focused"
                                                        >
                                                            <i class="el-icon-check"></i>
                                                        </div>
                                                        <div
                                                            class="entry"
                                                           
                                                            v-else
                                                        >
                                                            + {[
                                                            item.entryValue
                                                            ]} {[item.entryType==='02'?'Per Day':'']}
                                                        </div>
                                                    </div>
                                                </div>
                                            </el-col>
                                        </el-row>
                                    </div>
                                </el-tab-pane>
                                <!-- 个人积分记录 -->
                                <el-tab-pane label="My Entries" name="02">
                                    <div
                                        style="
                                            max-height: 700px;
                                            overflow-y: auto;
                                            overflow-x: hidden;
                                        "
                                        class="padding-left-littler padding-right-littler"
                                    >
                                        <template
                                            v-if="entryRecordsList.length>0"
                                        >
                                            <div
                                                class="entry--list padding-top-littler padding-bottom-littler"
                                                v-for="(item,index) in entryRecordsList"
                                                :key="index"
                                            >
                                                <el-row
                                                    :gutter="20"
                                                    type="flex"
                                                    align="middle"
                                                >
                                                    <el-col :span="4">
                                                        <div
                                                            class="img-icon flex"
                                                        >
                                                            <img
                                                                :src="`https://cdn.shopify.com/s/files/1/0283/9815/7955/files/platform-${item.platformId}.png?v=1667412001`"
                                                                alt=""
                                                                srcset=""
                                                            />
                                                        </div>
                                                    </el-col>
                                                    <el-col :span="20">
                                                        <div
                                                            class="platform-info flex-between"
                                                        >
                                                            <p
                                                                class="left-info"
                                                            >
                                                                + {[
                                                                item.entryValue
                                                                ]}
                                                            </p>
                                                            <div
                                                                class="right-icon"
                                                            >
                                                                <p
                                                                    class="entry"
                                                                >
                                                                    {[
                                                                    formatDateTime(new
                                                                    Date(item.createdAt))
                                                                    ]}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                        </template>
                                        <el-empty
                                            v-else
                                            :image-size="200"
                                        ></el-empty>
                                    </div>
                                </el-tab-pane>
                                <!-- 个人积分 -->
<!--                                 <el-tab-pane label="Leaders" name="03"
                                    >
                                    <div
                                        style="
                                            max-height: 700px;
                                            overflow-y: auto;
                                            overflow-x: hidden;
                                        "
                                        class="padding-left-littler padding-right-littler"
                                    >
                                        <template
                                            v-if="peopleEntryList.length>0"
                                        >
                                            <div
                                                class="entry--list padding-top-littler padding-bottom-littler"
                                                v-for="(item,index) in peopleEntryList"
                                                :key="index"
                                            >
                                                <el-row
                                                    :gutter="20"
                                                    type="flex"
                                                    align="middle"
                                                >
                                                    <el-col :span="4">
                                                        <p
                                                            class="left-info"
                                                        >
                                                            {[
                                                                item.username
                                                            ]}
                                                        </p>
                                                    </el-col>
                                                    <el-col :span="20">
                                                        <div
                                                            class="platform-info flex-between"
                                                        >
                                                            <p
                                                                class="left-info"
                                                            >
                                                                {[
                                                                    item.email
                                                                ]}
                                                            </p>
                                                            <div
                                                                class="right-icon"
                                                            >
                                                                <p
                                                                    class="entry"
                                                                >
                                                                {[
                                                                    item.sum
                                                                ]}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                        </template>
                                        <el-empty
                                            v-else
                                            :image-size="200"
                                        ></el-empty>
                                    </div>    
                                </el-tab-pane
                                > -->
                            </el-tabs>
                        </div>
                    </div>
                </el-col>
                <el-col  :xs="24" :sm="24"  :md="14" :lg="14" :class="{'margin-top-little':isMobile}">
                    <!-- 国家积分排名 -->
                    <div class="country-wrapper">
                        <h3 class="text-center padding-top-little  padding-bottom-little"  style="color:#ff4503"> Points Ranking of Your Country</h3>
                        <template v-if="countryEntryList.length>0">
                            <!-- 前三名 -->
                            <el-row
                            :gutter="isMobile?0:20"
                                type="flex"
                                align="middle"
                                class="country-three padding-left-little  padding-right-little  padding-top-little  padding-bottom-little"
                            >
                                <el-col :span="index===1?10:7" class="text-center"  v-for="(item,index) in countryEntryListThird"
                                :key="index">
                                    <div :class="['rank-wrapper-top',{'rank-first':index===1}]">
                                        <div class="img-icon">
                                            <img
                                                :src="`https://cdn.shopifycdn.net/s/files/1/0283/9815/7955/files/rank-0${index===1?1:index===0?2:3}.png?v=1667529181`"
                                                alt=""
                                                srcset=""
                                            />
                                            <img
                                                :src="`https://cdn.shopify.com/s/files/1/0283/9815/7955/files/Country-${item.countryName.replace(' ','')}.png?v=1667523182`"
                                                alt=""
                                                srcset=""
                                                class="icon-country"
                                            />
                                            <span class="coutry-name">{[item.countryName]}</span>
                                        </div>
                                        <span :style="[{color:index===0?'#fb82ff':index===1?'#fee864':'#1cc1e7'},{'font-size':'18px'},{'margin-top':'-27px'},{'display':'block'}]">{[item.sum]}</span>
                                    </div>
                                </el-col>
                            </el-row>
                            <el-row
                            :gutter="20"
                                type="flex"
                                align="middle"
                                class="country-title margin-bottom-little"
                            >
                                <el-col :span="6" class="text-center">
                                    <h4 :style="rankingStyle">
                                        Ranking  
                                    </h4>
                                </el-col>
                                <el-col :span="9">
                                    <h4  class="country-info" style="color: #ff4503;">
                                        Country  
                                    </h4>
                                </el-col>
                                <el-col :span="9">
                                    <h4  class="country-info" style="color: #ff4503;">
                                        Entries  
                                    </h4>
                                </el-col>
                            </el-row>
                            <div :class="['last-country-list',  isMobile?'':'no-scroll']"  :style="countryListStyle">
                                <div
                                class="country--list margin-bottom-little "
                                v-for="(item,index) in countryEntryList.slice(3)"
                                :key="index"
                            >
                                <el-row
                                    :gutter="20"
                                    type="flex"
                                    align="middle"
                                >
                                    <el-col
                                        :span="6"
                                        class="text-center"
                                    >
                                        <div class="rank-wrapper">
                                            <div class="img-icon flex">
                                                <img
                                                    :src="`https://cdn.shopify.com/s/files/1/0283/9815/7955/files/rank.png?v=1667522712`"
                                                    alt=""
                                                    srcset=""
                                                />
                                            </div>
                                            <span>{[index + 4]}</span>
                                        </div>
                                    </el-col>
                                    <el-col :span="9">
                                        <div
                                            class="country-box flex-center"
                                        >
                                            <div class="img-icon">
                                                <img
                                                    :src="`https://cdn.shopify.com/s/files/1/0283/9815/7955/files/Country-${item.countryName.replace(' ','')}.png?v=1667523182`"
                                                    alt=""
                                                    srcset=""
                                                />
                                            </div>
                                            <span
                                                >{[item.countryName]}</span
                                            >
                                        </div>
                                    </el-col>
                                    <el-col :span="9">
                                        <div
                                            class="country-info flex-between"
                                        >
                                            <p class="left-info">
                                                {[ item.sum ]}
                                            </p>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                            </div>
                            
                        </template>
                        <el-empty v-else :image-size="200"></el-empty>
                    </div>
                </el-col>
            </el-row>
        </div>
    </div>
   
   

</main>
<script src="{{ 'vue.min.js' | asset_url }}"></script>
<script src="{{ 'element.min.js' | asset_url }}"></script>
<script src="{{ 'axios.min.js' | asset_url }}"></script>
<script>
    // js 操作cookies 方法
    //JS操作cookies方法!
    //Expires		设置Cookie的有效期限
    //Domain		添加域名限制
    //Path			添加路径限制
    //写cookies
    function setCookie(name,value){
        var Days= 1;//过期时间1天
        var date=new Date(); 
        date.setTime(date.getTime()+Days*24*60*60*1000);
        document.cookie=name+"="+escape(value)+";expires="+date.toGMTString();
    }
    //读取cookies的值
    function getCookie(name){
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
        if(arr=document.cookie.match(reg)){
            return unescape(arr[2]);
        }
        else{
            return null;
        }
    }
    function delCookie(name) {
        var exp = new Date();
        var str = ''
        exp.setTime(exp.getTime() - 1);
        var cval = getCookie(name);
        str += "||cval:" +cval;
        if (cval != null)
        document.cookie=name+"="+escape(cval)+";expires="+exp.toGMTString();
    }
    function countDown(dateString = '2022-11-13 12:00:00') {
        var endTime = new Date(dateString).getTime();
        var newTime = new Date().getTime();
        var diffTime = (endTime - newTime) / 1000;
        var day = parseInt(diffTime / 60 / 60 / 24);
        var hour = parseInt(diffTime / 60 / 60 % 24);
        hour = hour<10? '0'+ hour:hour
        var min = parseInt(diffTime / 60 % 60);
        min = min<10?'0'+min:min
        var sen = parseInt(diffTime % 60);
        sen = sen<10?'0'+sen:sen
        return [day,hour,min,sen]
    }
    // const SERVER = 'http://localhost:8080/server-givea'
    const SERVER = "https://lovewebsite.net";
    const app = new Vue({
        el: "#app",
        delimiters: ["{[", "]}"],
        data() {
            return {
                entryInfo: [
                    {
                        title: "My Entries",
                        entries: 0,
                        unit: "",
                    },
                    {
                        title: "All Entries",
                        entries: 0,
                        unit: "",
                    },
                    {
                        title: "00 : 00 : 00",
                        entries: 0,
                        unit: "Days",
                    },
                ],
                userInfo: {},
                countryList: [],
                // loginForm
                form: {
                    username: "",
                    email: "",
                    country: "",
                },
                rules: {
                    username: [
                        {
                            required: true,
                            message: "Plase Enter Your Full Name",
                            trigger: "blur",
                        },
                        {
                            min: 3,
                            max: 10,
                            message: "Plase 3 to 10 characters in length",
                            trigger: "blur",
                        },
                    ],
                    email: [
                        {
                            required: true,
                            message: "Please enter the email address",
                            trigger: "blur",
                        },
                        {
                            type: "email",
                            message: "Please enter the correct email address",
                            trigger: ["blur", "change"],
                        },
                    ],
                    country: [
                        {
                            required: true,
                            message: "Please select a country",
                            trigger: "change",
                        },
                    ],
                },
                activeTab: "01",
                entryList: [], //积分类型
                entryRecordsList: [], //积分类型
                countryEntryList: [], //国家积分
                peopleEntryList: [], //用户积分
                showDialog:false,
                GWAY: getCookie('GWAY'),
                timer:null
            };
        },
        computed: {
            countryEntryListThird(){
                let third = this.countryEntryList.slice(0,3)
                third.unshift(third.pop())
                let two = third[2]
                third[2] = third[0]
                third[0] = two
                return third
            },
            rankingStyle() {
                return  `transform: ${this.isMobile?'translateX(2.6667vw)':'translateX(20px)'};display: ${this.isMobile?'block':'inline-block'};color: #ff4503;word-break:keep-all;`
            },
            countryListStyle() {
                return  this.isMobile?'':"max-height: 1180px;overflow-y: auto;overflow-x: hidden;"
            },
            isMobile(){
                return !isPC()
            },
            service(){
                return axios.create({
                    baseURL: SERVER, // node环境的不同，对应不同的baseURL
                    timeout: 30000, // 请求的超时时间
                    //设置默认请求头，使post请求发送的是formdata格式数据// axios的header默认的Content-Type好像是'application/json;charset=UTF-8',我的项目都是用json格式传输，如果需要更改的话，可以用这种方式修改
                    headers: {
                        // "Content-Type": "application/x-www-form-urlencoded"
                        "Authorization": this.GWAY
                    },
                    withCredentials: true, // 允许携带cookie
                    crossDomain:true
                });
            }
        },
        mounted() {
            var scroll = new SmoothScroll('a[href*="#"]',{
                offset:100
            });
            this.init();
            clearInterval(this.timer)
            this.timer = setInterval(()=>{
                // title: "20 : 02 : 56"
                let resArr = countDown('2022-12-18 23:59:59')
                this.entryInfo[2].entries = resArr[0]
                this.entryInfo[2].title = `${resArr[1]} : ${resArr[2]} : ${resArr[3]}`
            }, 1000)
        },
        
        methods: {
            async init() {
                this.GWAY = getCookie('GWAY')
                this.userInfo = JSON.parse(localStorage.getItem('userInfo')||'{}')
                if(this.GWAY&&this.userInfo.email){
                    this.form.username = this.userInfo.username
                    this.form.email = this.userInfo.email
                    this.form.country = this.userInfo.country
                    this.entriesMyAndAll();//我的和所有积分
                }
                this.entriesByCountry();//国家积分
                this.getCountryList();//获取国家select
                this.getEntryList();//媒体积分list
            },
            //tab切换
            tabClick(){
                //
                if(this.activeTab==='01'){
                    this.getEntryList()//积分类型
                }else if(this.activeTab==='02'){
                    this.getEntryRecordsList()//积分记录
                }else{
                    this.entriesByPeople()//获取人员排名
                }
            },
            //获取国家的积分
            async entriesByCountry() {
                let res = await this.service.get(
                    `${SERVER}/entryRecords/entriesByCountry`
                );
                if (res.data && res.data.succces) {
                    this.countryEntryList = res.data.data || [];
                    this.countryEntryList.forEach(item=>{
                        item.countryName = item.countryName.replace('_',' ')
                    })
                }
            },
            //新增积分
            async addEntries(row) {
                if(!this.userInfo.email||(row.entryType==='01' && row.focused)) return
                let oWindow = window.open('', '_blank');
                let data = {
                    platformId: row.platformId,
                    entryType: row.entryType,
                };
                let res = await this.service.post(
                    `${SERVER}/entryRecords/add`,
                    data
                );
                if (res.data && res.data.succces) {
                    this.$message({
                        message: res.data.message,
                        type: "success",
                    });
                    let url = row.platformUrl
                    console.log(url,'跳转连接');
                    //新窗口打开
                    oWindow.location.href = url
                    this.entriesMyAndAll();//我的和所有积分
                    this.entriesByCountry()//国家积分
                    this.getEntryList();//媒体积分list
                }
            },
            //获取积分类型list
            async getEntryList() {
                let res = await this.service.get(`${SERVER}/entries/list`);
                if (res.data && res.data.succces) {
                    this.entryList = res.data.data || [];
                }
            },
             //获取积分记录list
             async getEntryRecordsList() {
                let res = await this.service.get(`${SERVER}/entryRecords/list`);
                if (res.data && res.data.succces) {
                    this.entryRecordsList = res.data.data || [];
                }
            },
             //获取人的排名
             async entriesByPeople() {
                let res = await this.service.get(
                    `${SERVER}/entryRecords/entriesByPeople`
                );
                if (res.data && res.data.succces) {
                    this.peopleEntryList = res.data.data || [];
                }
            },
             //获取个人和所有的积分
             async entriesMyAndAll() {
                let res = await this.service.get(
                    `${SERVER}/entryRecords/entriesMyAndAll`
                );
                if (res.data && res.data.succces) {
                    this.entryInfo[0].entries = res.data.data.sum;
                    this.entryInfo[1].entries = res.data.data.sumAll;
                }
            },
            //获取国家select
            async getCountryList() {
                let res = await this.service.get(`${SERVER}/countries/list`);
                if (res.data && res.data.succces) {
                    this.countryList = (res.data.data || []).map((item) => ({
                        label: item.countryName.replace('_',' '),
                        value: item.countryCode,
                    }));
                }
            },
            login() {
                this.$refs["loginForm"].validate(async (valid) => {
                    if (valid) {
                        let data = this.form;
                        let res = await this.service.post(
                            `${SERVER}/users/registerAndLogin`,
                            data
                        );
                        if (res.data && res.data.succces) {
                            this.userInfo = res.data.data;
                            this.GWAY = this.userInfo.cookies
                            setCookie('GWAY',this.GWAY)
                            localStorage.setItem('userInfo',JSON.stringify(this.userInfo))
                            this.entriesMyAndAll();//我的和所有积分
                            this.activeTab = '01'
                            this.tabClick()
                        }
                    } else {
                        return false;
                    }
                });
            },
            async logout() {
                let res = await this.service.get(`${SERVER}/users/logout`);
                if (res.data && res.data.succces) {
                    this.userInfo = {};
                    this.entryRecordsList = [];
                    this.entryInfo[0].entries = 0;
                    localStorage.clear()
                    delCookie('GWAY')
                    this.GWAY = ''
                    this.$message({
                        message: "The account has been logout",
                        type: "success",
                    });
                }
            },
            formatDateTime(date) {
                var y = date.getFullYear();
                var m = date.getMonth() + 1;
                m = m < 10 ? "0" + m : m;
                var d = date.getDate();
                d = d < 10 ? "0" + d : d;
                var h = date.getHours();
                h = h < 10 ? "0" + h : h;
                var minute = date.getMinutes();
                minute = minute < 10 ? "0" + minute : minute;
                var second = date.getSeconds();
                second = second < 10 ? "0" + second : second;
                return (
                    y +
                    "-" +
                    m +
                    "-" +
                    d +
                    " " +
                    h +
                    ":" +
                    minute +
                    ":" +
                    second
                );
            },
        },
        destroyed () {
            clearInterval(this.timer);
            this.timer = null
        },
    });
</script>
<style>
    .cursor{
        cursor: pointer;
    }
    .entry--list {
        border-bottom: 1px solid #eee;
        word-break: keep-all;
    }
    .row-bg {
        background-color: #fff;
    }
    .flex-column-center {
        border-right: 1px solie #eeeeee;
    }
    .right-icon .entry{
        min-width: 100px;
        text-align: right;
        padding-right: 10px;
    }
    .right-icon .entry.success{
        font-size: 28px;
        font-weight: bold;
    }
    .rank-wrapper {
        position: relative;
        display: inline-block;
        transform: translateX(20px);
    }
    .rank-wrapper .img-icon {
        width: 60px;
    }
    .rank-wrapper span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
    .country-wrapper{
        background-color: #5a0671;
        border-radius: 16px;
        border:2px solid #ad263a;
    }
    .country-three .rank-wrapper-top .img-icon{
        position: relative;
    }
    .country-three .rank-wrapper-top .img-icon .icon-country{
        position: absolute;
        left: 50%;
        top: 42%;
        transform: translate(-50%, -50%);
    }
    .country-three .rank-wrapper-top.rank-first .img-icon .icon-country{
        top: 46%;
        width: 100px;
    }
    .country-three .rank-wrapper-top .img-icon .coutry-name{
        position: absolute;
        bottom: 16%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        color:#550065;
    }
    .country-three .rank-wrapper-top.rank-first .img-icon .coutry-name{
        bottom: 13%;
    }
    .country-title {
        margin-top:10px;
        font-size: 26px;
        color: #ff4503;
    }
    .country-box{
        padding-left: 40px;
    }
    .country-box .img-icon {
        width: 60px;
        display: flex;
    }
    .country-box span {
        font-size: 20px;
        color: #fff;
        margin-left: 10px;
        word-wrap: keep-all;
    }
    .country-info{
        padding-left: 40px;
    }
    .country-info .left-info {
        font-size: 24px;
        padding: 0 30px 0 10px;
        color: #fff;
        height: 36px;
        line-height: 36px!important;
        border-radius: 18px;
        background-image: linear-gradient(to right, #c52092, #5a0671);
    }
    .el-dialog__body{
        padding: 20px;
        background-color: #eee;
    }
    @media screen and (max-width: 641px) {
        .entry--list .img-icon{
            width: 8vw;
        }
        .country-three.padding-bottom-little{
            padding-bottom: 0!important;
        }
        .country-three .rank-wrapper-top .img-icon .icon-country{
            width: 5.3333vw;
            top: 40%;
        }
        .country-three .rank-wrapper-top .img-icon .coutry-name{
            font-size: 2.4vw;
            bottom: 11%;
        }
        .country-three .rank-wrapper-top.rank-first .img-icon .icon-country{
            top: 42%;
            width: 10vw;
        }
        .country-three .rank-wrapper-top.rank-first .img-icon .coutry-name{
            bottom: 10%;
        }
        .country-three .rank-wrapper-top>span{
            font-size: 2.4vw!important;
            margin-top: -6vw!important;
        }
        .rank-wrapper {
            transform: translateX(2.6667vw);
        }
        .rank-wrapper .img-icon{
            width: 8vw;
        }
        .rank-wrapper span{
            font-size: 2.1333vw;
        }
        .country-box {
            padding-left: 0;
        }
        .country-box .img-icon {
            width: 8vw;
        }
        .country-box span {
            font-size: 2.6667vw;
            margin-left: 1.3333vw;
        }
        .country-info{
            padding-left: 1.3333vw;
        }
        .country-info .left-info {
            font-size: 3.2vw;
            padding: 0 4vw 0 2.6667vw;
            height: 5.3333vw;
            line-height: 5.3333vw;
            border-radius: 5.3333vw;
            background-image: linear-gradient(to right, #c52092, #5a0671); 
        }
        /* 组件 */
        .el-dialog__title{
            font-size: 3.2vw ;
        }
        .el-dialog__headerbtn{
            top: 15px;
        }
        .el-dialog__header {
            padding: 10px 20px 10px;
        }
    }
</style>
